
/* Custom CSS */
.custom-carousel {
  width: 60%; /* Adjust the width percentage as needed */
  height: auto; /* Set the height */
  margin: auto; /* Center the carousel horizontally */
  border-radius: 20px;
}

@media (max-width: 767px) {
  /* For mobile devices */
  .custom-carousel {
    width: 100%; /* Adjust width for mobile screens */
  }
}