.nav-link-custom {
  border-radius: 10px;
}

/* Adding hover effect to buttons on the navBar */
.nav-link-custom:hover {
  background-color: #bdc7cc;
 
}

.navbar-brand img {
  width: auto;
  height: 40px;
}