/* App.css */

/* Set background image for the body */
body {
  /* Replace 'path_to_your_image.jpg' with your image path */
  background-image: url('./images/warsaw.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}